<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>app FF_01x</title>
    <link rel="stylesheet" href="css/bootstrap.min.css">
</head> 
<body>

    <div class="container" id='app'>
        <h3>Resultado</h3>
        <h5 class="text-mute" v-text="rta"></h5>
        
            <label>ingrese un numero</label>
            <input type="number" v-model="num1" class="form-control">
        
            <label>ingrese un numero</label>
            <input type="number" v-model="num2" class="form-control">
        
        <button type="button" v-on:click="add" class="btn btn-primary">sumar</button>
        <button type="button" v-on:click="subtract" class="btn btn-danger">restar</button>
        <button type="button" v-on:click="multiply"class="btn btn-warning">multiplicar</button>
        <!-- comando para ocultar -->
        <div v-show="ver==true">
            <ul>
                <li>el</li>
                <li>duende</li>
                <li>canta</li>
            </ul>
        </div>
        <button type="button" v-on:click="mostrar" class="btn btn-primary">mostrar</button>
        <button v-show="ver==true" type="button" v-on:click="ocultar" class="btn btn-success">ocultar</button>
    </div>
    

    <script src="js/vue.js"></script>
    <script src="js/main.js"></script>
</body>
</html>