<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/bootstrap.min.css">
</head>
<body>
    <div id='app' class="container" >
      
      <!-- colocarle texto al lado de una lista -->
      <div class="input-group mb-1" style="margin-top:10px">
        <div class="input-group-prepend"><span class="input-group-text">Producto</span></div>
        <select v-model="arrayProductos" class="form-control" name="" id="">
          <!-- <option v-for="item in arrayDatos" value="pantalon">{{item.nombre}}</option>llenar la lista con el array -->
          <option  v-for="item in arrayDatos" v-text="item.nombre" :value="item"></option>
        </select>
      </div>
      <!-- colocarle texto al lado de una lista -->

      <!-- colocarle texto al lado de un input -->
      <div class="input-group mb-1"> 
        <div class="input-group-prepend"><span class="input-group-text" >Cantidad</span></div>
        <input type="number" v-model.number="cantidad" min=0 class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
      </div>
      <!-- colocarle texto al lado de un input -->

      <div  ><button style="margin-top: 10px; width: 100px" type="button" v-on:click="validar" class="btn btn-primary form-control" >Validar</button></div>

      <!-- tabla -->
      <table style="margin-top: 40px" class="table table-striped  table-bordered">
        <thead class="thead-dark">
            <tr>
                <th>Nombre</th>
                <th>Precio</th>
                <th>Cantidad</th>
                <th>Total</th>
            </tr>
        </thead>
        <tbody>
          <tr v-for="objeto in arrayRegistros">
            <td v-text="objeto.nombre"></td>
            <td v-text="objeto.precio"></td>
            <td v-text="objeto.cantidad"></td>
            <td v-text="objeto.total"></td>
          </tr>
        
        </tbody>
      </table>
      <!-- tabla -->

    </div>

    <!-- extensiones -->
    <script src="js/vue.js"></script>
    <script src="js/sweetalert2.all.min.js"></script>
    <script src="js/main.js"></script>
    <!-- extensioes -->

</body>
</html>